.header {
    background-color: #eeeeee;
    width: 100%;
    padding-top: 1em;
    height: 80px;
    top: 0;
    left: 0;
}

.headerBox {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .header {
        height: 130px;
    }
}

@media (max-width: 785px) {
    .header {
        height: 250px;
    }
}

.wrapper {
    margin: auto;
    position: relative;
    top: 80px;
    padding: 1em 1em 1em 1em;
    width: 330px;
    height: 310px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}


@media (max-width: 767px) {
    .wrapper {
        top: 150px;
    }
}

@media (max-width: 485px) {
    .wrapper {
        top: 250px;
    }
}

.godel {
    color: #613eea;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}

.labelLink:hover {
    text-decoration: none;
}

.godel:hover {
    color: #08bd9c;
}

@media (max-width: 767px) {
    .godel {
        margin: 0 0 1em 1em;
    }
}

.football {
    color: #4d6279;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}

.navBarLogin {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    margin-left: 0.5em;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: white;
    padding: 15px 54px;
    background-color: #4c31b8;
    border: 0;
    border-radius: 5px;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .navBarLogin {
        margin-top: 1em;
    }
}

.navBarRegister {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: white;
    padding: 15px 40px;
    background-color: #4c31b8;
    border: 0;
    border-radius: 5px;
    transition: 0.5s;
}

.submitButton {
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: white;
    margin-top: 1em;
    padding: 15px 30px 10px 30px ;
    background-color: #613eea;
    border: 0;
    border-radius: 5px;
    transition: 0.5s;
}

.navBarLogin:hover, .navBarRegister:hover, .submitButton:hover {
    transform: scale(1.05,1.05);
    box-shadow: 0 0.6em 0.6em gray;
    cursor: pointer;
}

.navBarLogin:active, .navBarRegister:active {
    background-color: #4d6279;
}

.navButtons {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1200px) {
    .navButtons {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 992px) {
    .navButtons {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .navButtons {
        display: flex;
        flex-direction: column;
    }
}

.labelLogin {
    padding: 0.5em 0 0.5em 4.2em;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 31px;
    text-align: center;
    color: #4d6279;
}

.formControl {
    height: 3em;
    width: 16.6em;
    border: 1px solid #b1b4be;
    border-radius: 6px;
    padding-left: 1em;
}

.formControl:focus {
    outline: 0;
    box-shadow: 0 0 0 1px rgba(97, 62, 234, .5);
    padding-left: 10px;
}

.submitButton:focus{
    outline: 0;
    box-shadow: 0 0 0 1px rgba(97, 62, 234, .5);
}

.plusImg {
    fill: #fff;
    margin-right: 15px;
}

.btnCreateWrapper {
    display: flex;
    justify-content: center;
}

.btnUserWrapper {
    display: flex;
    justify-content: flex-start;

}

.btnCreateText{
    font-weight: 400;
    font-size: 21px;
}

.userNameBtn{
    padding: 15px 15px;
    background-color: #4C31B8;
    line-height: 0;
    border: 0;
    border-radius: 5px 0 0 5px;
    transition: 0.3s;
    color: white;
    cursor: pointer;
    font-size: 21px;
    min-width: 150px;
}

.userNameBtn:hover{
    background-color: #613EEA;
}

.btnLogout {
    padding: 15px 15px;
    background-color: #2C1782;
    line-height: 0;
    border: 0;
    border-radius: 0 5px 5px 0;
    transition: 0.3s;
    cursor: pointer;
}

.btnLogout:hover {
    background-color: #613EEA;
}

.btnLogoutIcon {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.navBarCreate {
    width: 204px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: white;
    padding: 15px 20px;
    background-color: #4C31B8;
    border: 0;
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 12px;
}

.navBarCreate:hover {
    background-color: #613EEA;
    cursor: pointer;
}

.btnUserActionsWrapper {
    display:flex;
    max-height: 54px;
}

.btnUserActionsWrapperBox {
    padding: 0;
    border: none;
}

.toggleDiv {
    position:absolute;
    top:72px;
    background-color: #fff;
    width: 150px;
    border: 1px solid #4C31B8;
    z-index: 10;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navItem {
    padding: 16px;
    background-color: #F9FAFB;
    cursor: pointer;
}

.navItem:hover {
    background-color: #4C31B8;
    color: #fff;
}



