.buttonCreate {
    background: #4C31B8;
    box-shadow: 0 8px 20px rgba(97, 62, 234, 0.32);
    border-radius: 6px;
    color: white;
    width: 74%;
    height: 3.2em;
    border: unset;
    margin-top: 20px;
    cursor: pointer;
}

.buttonCreate:focus {
    outline: none;
}

.buttonDelete:focus {
    outline: none;
}

.minus {
    fill: darkred;
    margin-left: 10px;
    margin-bottom: 7px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.player {
     display: flex;
 }

.buttonDelete {
    background: #4c31b8;
    box-shadow: 0 8px 20px rgba(177, 180, 190, 0.32);
    border-radius: 6px;
    color: white;
    width: 74%;
    height: 3.2em;
    border: unset;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.buttonDelete:hover {
    background: #b1b4be;
    box-shadow: 0 8px 20px rgba(177, 180, 190, 0.32);
    border-radius: 6px;
    color: #4c31b8;
    width: 74%;
    height: 3.2em;
    border: unset;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.inputTeam {
    width: 74%;
    height: 3.2em;
    border-radius: 6px;
    border: 1px solid gray;
    outline: none;
    padding: 10px;
}

.inputTeam:focus {
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0, 123, 255, .5);
}

.inputSearch {
    cursor: pointer;
}

.approve {
    cursor: pointer;
}

.teamName {
    margin-left: 10px;
}

.modalBody {
    text-align: center;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    margin-top: 10px;
    color: white;
    background-color: #4C31B8;
}

.inputfile + label:hover {
    background-color: gray;
    cursor: pointer;
}

.download {
    margin: auto;
    fill: white;
    display: flex;
    align-items: center;
    width: 35%;
    padding: 5px;
    border-radius: 6px;
}

.downloadButton {
width: 100%;
}

.teamSelect {
    width: 150px;
    height: 40px;
    border: 2px solid #4c31b8;
    border-radius: 6px;
    padding-left: 2.5em;
}

.sendInvite, .removePlayer {
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: white;
    padding: 10px 40px;
    margin-left: 2em;
    background-color: #4c31b8;
    border: 0;
    border-radius: 6px;
    transition: 0.5s;
    cursor: pointer;
}

.sendInvite:hover, .removePlayer:hover {
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #4c31b8;
    padding: 10px 40px;
    margin-left: 2em;
    background-color: #cfd2dc;
    transition: 0.5s;
    cursor: pointer;
}

.waitingConfirm {
    padding: 20px 0 10px 0;
    color: red;
}




