

.menu-item {
    padding: 10px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    color: white;
}


.active, .menu-item-wrapper {
    outline: none;
}

.active > .menu-item {
    color: #4d6279;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu-item-wrapper.active {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.scroll-menu-arrow {
    padding: 12px;
    cursor: pointer;
    font-size: 32px;
    background-color: #613eea;
    color: white;
    height: 100%;
    border-radius: 6px 6px 0 0;
}

.horizontal-menu {
    background-color: #613eea;
    height: 72px;
    border-radius: 6px 6px 0 0;
}

.team{
    display: inline-block;
    font-size: 32px;
    color: #777777;
    margin: 10px;
}

.score{
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    color: #4d6279;
    margin: 10px;
}

.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    text-align: center;
    border-bottom: 1px solid #b1b4be;
    background-color: white;

    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        transform: matrix3d(0);
        opacity: 0.0;
    }
    60% {
        transform:matrix3d(1.1);
    }
    80% {
        transform: matrix3d(0.9);
        opacity: 1;
    }
    100% {
        transform: matrix3d(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

.unapproved {
    display: inline-block;
    font-size: 45px;
    font-weight: bold;
    color: #ff7730;
    margin: 10px;
}

.today {
    font-weight: bold;
}

img {
    width: 50px;
    height: 50px;
}

.note {
    padding-top: 2em;
}

.note p {
    margin: 50px auto;
}

.buttonCreateTeam {
    margin: 50px auto;
}

.menu-wrapper--inner {
    border: none;
    height: 100%;
}

.menu-wrapper {
    height: 100%;
}

.saveGame {
    fill: #613eea ;
    height: 3em;
    width: 3em;
    cursor: pointer;
}

.footer {
    margin-top: 20px;;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}