.gameBox {
    background: #F9FAFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.game__item:nth-child(odd){
    font-size: 24px;
}

.game__scoreItem:nth-child(odd){
    font-weight: 700;
    font-size: 32px;
}

.game__scoreItem:nth-child(2){
    color: #777;
    font-weight: 700;
    font-size: 32px;
}

.game__buttonSuccess {
    width: 32px;
    height: 32px;
    fill: green;
    cursor: pointer;
}

.game__buttonDelete {
    width: 32px;
    height: 32px;
    fill: red;
    cursor: pointer;
}

.game__item:nth-child(4) {
    align-self: flex-end;
}